* {
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
}

html{
  background-color: #7F0A02;
  font-size: 62.5%;
  height: 100%;
}

body{
  color: #332627;
  font-family: 'Century Gothic', 'Gill Sans', 'Tahoma', 'Candara', 'Arial', sans-serif;
  margin: 0 auto;
  max-width: 960px;
  min-height: 100%;
  padding: 0 10px;
  position: relative;
}

header{
  padding: 2.4rem 0;
  text-align: center;
}

header p{
  color: #fff;
  font-style: italic;
}

h1, h2{
  font-family: 'Zapf Chancery', 'Coronetscript', 'Florence', 'Parkavenue', cursive;
  font-weight: normal;
}

h1{
  color: #fff;
  font-size: 5.4rem;
  line-height: 7.2rem;
  padding: .8rem 0 1.6rem;
  margin: 1.2rem 0;
  text-align: center;
}

h2{
  color: #25633E;
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding: 0 0 1.2rem;
}

p,
ol{
  margin-bottom: 2.4rem;
}

p{
  color: rgba(51,38,39, .7);
}

ol{
  list-style-position: inside;
}

input:-webkit-autofill{
  color: #332627;
  -webkit-text-fill-color: #332627;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

[type="submit"]{
  background-color: #25633E;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 -1px 1px 0 rgba(51,38,39, .25) inset;
  cursor: pointer;
  color: #fff;
  display: block;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 auto 1.2rem;
  max-width: 100%;
  transition-property: background-color;
  transition-duration: 200ms;
  padding: 0 3rem;
  text-align: center;
  user-select: none;
  width: auto;
}

button:focus{
  outline: 1px dotted #eee;
}

button:hover{
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, .5) inset;
}

button::-moz-focus-inner {
  border: 0;
}

.wrap-small{
  width: 480px;
  margin: 0 auto;
}

.content{
  position: relative;
}

.step{
  transform: translateY(20px);
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms ease-out, transform 400ms ease-out;
  -moz-transition: opacity 400ms ease-out, transform 400ms ease-out;
  -ms-transition: opacity 400ms ease-out, transform 400ms ease-out;
  -o-transition: opacity 400ms ease-out, transform 400ms ease-out;
  transition: opacity 400ms ease-out, transform 400ms ease-out;
}

.active{
  transform: translateY(0);
  opacity: 1;
  height: auto;
}

.next{
  transform: translateY(0);
  opacity: 1;
  height: auto;
}

.prev{
  transform: translateY(-20px);
  opacity: 0;
  height: 0;
}

.field{
  position: relative;
  margin-bottom: 1.2rem;
}

.field input{
  border: 1px solid rgba(51,38,39, .25);
  margin: -2px 0 1.2rem;
  padding: 1.8rem .5rem .6rem;
  width: 100%;
}

.field input:focus{
  /* yellow #F4DB18 */
  border-color: #25633E;
  box-shadow: 0 1px 2px 0 rgba(51,38,39, .25) inset;
  outline: none;
}

.field label{
  color: rgba(51,38,39, .75);
  font-size: 1.2rem;
  line-height: 1;
  padding: .5rem;
  position: absolute;
  left: 0;
  top: 0;
}

.grid{
  clear: both;
  margin: 0 -15px;
  overflow: hidden;
}

[class*="col-"]{
  float: left;
  padding: 0 15px;
}

.col-6{
  width: 100%;
}

@media (min-width: 768px){
  .col-6{
    width: 50%;
  }
}

.success,
.success p{
  color: #25633E;
}

.error,
.error p{
  color: #A80319;
}

.error p:not(:last-child){
  margin-bottom: 0;
}

.scroll{
  background-color: #fff;
  padding: 2.4rem 1.2rem;
  margin-bottom: 7.2rem;
}

.info{
  color: rgba(51,38,39, .75);
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.zero{
  color: rgba(51,38,39, .75);
  display: none;
  font-style: italic;
}

.zero:last-child{
  display: block;
}

.ta-right{
  text-align: right;
}

footer{
  color: rgba(255, 255, 255, .8);
  padding-bottom: 2.4rem;
}

footer a:link,
footer a:visited{
  color: rgba(255, 255, 255, .9);
}

footer a:hover,
footer a:focus{
  color: #fff;
}

footer a:active{
  color: rgba(225, 225, 225, .8);
}
